.register-page {
    background-color: var(--md-sys-color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.register-forms-card {
    background-color: var(--md-sys-color-surface-container-low);
    border-radius: 12px;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
