.play-pause-button {

}

.advance-button {

}

.music-player {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 22.5px;
    height:100px;
    display: flex;
    border-radius: 25px;
    background: #ff794d;
}

.media-buttons {
    display: flex;
    gap: 10px;
    margin: auto;
    align-self: center;
}