.welcome-page {
    background-color: var(--md-sys-color-background);
}

.logo-wrapper {
    margin: 1rem;
    height: 48px;
    width: 160px;
}

.navigation-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--md-sys-color-surface-container-low);
    margin: 1rem;
    border-radius: 12px;
}

.navigation-button {
    margin: 0.75rem;
    white-space: nowrap;
}

.body-block-1 {
    background-color: var(--md-sys-color-surface-container-high);
    margin: 1rem;
    border-radius: 12px;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body-block-1-text {
    display: flex;
    flex-direction: column;
}

.session-mockup {
    height: auto;
    width: 40vw;
}